<div id="acolumn">
  <h1>The RU</h1>

  <p>1. Press the pink button to authenticate, if needed.</p>
  <p>2. Press the pumpkin button to read the spreadsheet and display it on the screen.</p>
</div>
<div class='button-bunch'>
  <a href='/auth/google_oauth2'>
    <div class='lk-button authenticate'>
      <p class='button-text'>
        Authenticate if needed
      </p>
    </div>
  </a>
  <div class='lk-button get-data'>
    <p class='button-text'>
      Get data
    </p>
    <div id='spinner'>
      <%= image_tag "715.gif" %>
    </div>
  </div>
</div>
<div class="data">
</div>
