body {
  font-family: Arial;
  font-size: 3.5rem;
}

#main-page {
  width: 110%;

  .page-head {
    position: fixed;
    top: -1rem;
    background-color: white;
    z-index: 20;
    opacity: 1.0;
    width: 100%;
  }

  .sorting-arrows {
    margin-left: 60rem;
    margin-right: 2.5rem;
  }

  div.rows-container {
    margin-top: 15rem;
  }

  div.rows-container > div:nth-of-type(odd) {
    background: #f2f2f2;
  }

  .row {
    border: 1px solid black;
    min-height: 12.5rem;
    padding-left: 3rem;
  }

  .row-text {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .top-line {
    font-size: 4.5rem;
  }

  .outside-inside {
    position: absolute;
    left: 17rem;
  }

  .item-line {
    width: 103rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4rem;
  }
}   /* end main-page */

/* popup  */

#sorting-dialog {

  h5,
  .btn {
    font-size: inherit;
  }

  .btn-primary,
  .btn-secondary {
    width: 21rem;
  }

}

/* full item  */

#full-item {

  #shell {
    width: 80%;
    margin: 0 auto;
  }

  .top-line {
    margin-top: 6rem;
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .long-description {
    font-size: 3.9rem;
  }

}

/* search page */
#search-page {

  .page-head {
    width: 98rem;
    background-color: #90c3d4;
    min-height: 10rem;
  }

  .left-arrow {
    float: left;
    width: 10rem;
    margin-top: 7rem;
    margin-left: 9rem;
  }

  .search-area {
    float: left;
    width: 57rem;
    padding-top: 2rem;
  }

  input#search-box {
    border-radius: 1.5rem;
    width: 75rem;
  }

}
