body {
  font-family: Arial;
  font-size: 3.5em;
}

.page-header {
  position: fixed;
  top: -1.2em;
  background-color: white;
  z-index: 20;
  opacity: 1.0;
  width: 100%;
}

.sorting-arrows {
  margin-left: 60rem;
  margin-right: 2.5rem;
}

img.expand {
  width: 3em;
}

div.rows-container {
  margin-top: 4rem;
}

div.rows-container > div:nth-of-type(odd) {
  background: #f2f2f2;
}

.row {
  border: 1px solid black;
  min-height: 4.26em;
}

.row-text {
  margin-left: 1em;
  margin-top: 0.5em;
}

.top-line {
  font-size: 1.0em;
}

.outside-inside {
  position: absolute;
  left: 6em;
}

.item-line {
  width: 27em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* popup  */

#sorting-dialog {

  p {
    font-size: 1.0em;
  }

  h5 {
    font-size: 1.0em;
  }

  .btn {
    font-size: 1.0em;
  }

  .btn-primary,
  .btn-secondary {
    width: 6.0em;
  }

}

/* full item  */

#full-item {

  #shell {
    width: 80%;
    margin: 0 auto;
  }

  .top-line {
    margin-top: 6rem;
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .long-description {
    font-size: 3.9rem;
  }

}
