body {
  font-family: Arial;
  font-size: 2.5em;
}

.page-header {
  position: fixed;
  top: 0.4em;
}

.sorting-arrows {
  margin-left: 16em;
}

div.rows-container {
  margin-top: 2.0em;
}

div.rows-container > div:nth-of-type(odd) {
  background: #faedd2;
}

.row {
  border: 1px solid black;
  min-height: 4.26em;
}

.row-text {
  margin-left: 1em;
}

.outside-inside {
  position: absolute;
  left: 5em;
}