<div id="full-item">
  <div id="shell">
    <div class="top-line">
      {{ru_number}} {{outside_inside}}
    </div>
    <p class="long-description">
      {{long_description}}
    </p>
  </div>
</div>