<div id="search-page">
  <div class="page-head">
    <div class="left-arrow">
      <img src="/assets/left_arrow.svg">
    </div>
    <div class="search-area">
      <input type="text" name="query" id="search-box" placeholder="Search">
    </div>
  </div>
</div>