#acolumn {
    width: 487px;
    float: left;
}

#acolumn p {
    margin: 11px;
    font-size: 20px;
}

p {
	font-size: 18px;
}

.button-bunch {
    float: left;
    margin-top: 128px;
    width: 100%;
}

.lk-button {
	display: block;
    float: left;
	height: 95px;
	width: 200px;
	border: 1px solid;
    border-radius: 25px;
	cursor: pointer;
}

.authenticate {
	background-color: #ffc0cb;
}

.create-pdf,
.get-data {
    margin-left: 133px;
}

.get-data {
    background-color: #e9b148;  // pumpkin
}

.button-text {
    font-size: 26px;
    line-height: 27px;
    margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    color: black;
}

.authenticate .button-text {
    width: 72%;
    margin-top: 21px;
}

.get-data .button-text {
    font-size: 23px;
    width: 107px;
}

#spinner {
    display: none;
}

.data {
    clear: left;
}

#data-area {
    border-collapse: collapse;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}
