<div class='page-header'>
  <span class='sorting-arrows'>
    <%= image_tag("arrows.svg") %>
  </span>
</div>

<div class='rows-container'>
  <% @rows.each do |row| %>
    <div class='row'>
      <div class='row-text'>
        <div class='top-line'>
          <span class='ru-number'><%= row.ru_number %></span>
          <span class='outside-inside'><%= row.outside_inside_truncated %></span>
        </div>
        <div class='item-line'>
        <%= row.long_description %>
      </div>
      </div>
    </div>

  <% end %>
</div>
